@charset "UTF-8";
@import url("reset.css");

img{
	max-width:100%;
}
@mixin pos($r:relative){
	position: $r;
}
body{
	-webkit-user-select:none;
	-webkit-font-size-adjust:none;
	-webkit-tap-highlight-color:reba(0,0,0,0);
}
input,select,textarea{
	-webkit-appearance:none;
}
a{
	text-decoration:none;
}

@mixin box($h:horizontal){
	display:-webkit-box;
	-webkit-box-orient:$h;
}

@mixin full{
	width:100%;
	height:100%;
	overflow:hidden;
}
html,body{
	width:100%;
	height:auto;
	background:#f7f7f7;
	over-flow-x:hidden;
}
.wrap{
	width:100%;
	height:auto;
	@include pos;
	font-family:"微软雅黑";
}
.banner_tel{
	width:100%;
	height:auto;
	margin-bottom:1.00rem;
	@include pos;
	.banner{
		width:100%;
		@include pos(absolute);
		left:0;
		bottom:-0.50rem;
		text-align:center;
		img{
			width:4.90rem;
			height:1.10rem;
		}
		
	}

}


.main{
	width:100%;
	height:auto;
	-webkit-overflow-scrolling:touch;
	overflow-scrolling:touch;
	background:#ffffff;
	border-top:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	h2{
		height:0.90rem;
		line-height:0.90rem;
		padding-left:0.24rem; 
		&:last-child
		{ 
			border:none;
		}
	}
	p{
		display:block;
		border-bottom:1px solid #dcdcdc;
		padding-left:0.16rem; 
		a{
			font-size: 14px;
			color:#676767;
			b{
				width:280px;
				display:block;
				overflow:hidden;
				text-overflow:ellipsis;
				-o-text-overflow:ellipsis;
				-webkit-text-overflow:ellipsis;
				-moz-text-overflow:ellipsis;
				white-space:nowrap;
			}
			span{
				font-size: 16px;
				color:#e60012;
				display:inline-block;
				padding-right:5px;
			}
		}
	}
}

